.Person {
    width: 60%;
    margin: 16px auto;
    background-color: rgb(223, 230, 236);
    border: 1px solid #eee;
    box-shadow: 0 2px 3px rgb(133, 128, 128);
    padding: 16px;
    text-align: center;
}